.HomeMain {
  height: 100vh;
  width: 100%;
  /* position: relative; */
  /* background-color: brown; */
}

.HomeVideo,
.HomeVideoWrapper {
  height: 100%;
  width: 100%;
}

.HomeVideoWrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.HomeText {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* padding: 7vh; */
  justify-content: end;
  color: white;
}

.HomeTextWrapper {
  position: absolute;
  bottom: 5vh;
  /* height: 100%; */
  /* display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center; */
  padding: 7vh;
}

.HomeTextWrapper span {
  /* margin-bottom: 0.5vh; */
  display: block;
  font-size: 80px;
  font-weight: bold;
}

.HomeArrowsAndDesc {
  position: absolute;
  bottom: -60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.HomeArrows {
  display: flex;
  align-items: center;
  gap: 2vh;
  padding: 7vh;
}

.HomeDesc {
  padding: 7vh;
  max-width: 520px;
}

@media screen and (max-width: 767px) {
  /* .HomeMain {
    height: 100%;
  } */

  .HomeTextWrapper span {
    font-size: 35px;
  }

  .HomeTextWrapper {
    padding: 5vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1294px) {
  .HomeMain {
    height: 100%;
  }

  .HomeTextWrapper span {
    font-size: 50px;
  }

  .HomeTextWrapper {
    padding: 5vh;
  }
}
