.Footermain {
  background-color: black;
  width: 100%;
  color: white;
}

.FooterWrapper {
  max-width: 1600px;
  width: 100%;
  padding: 8vh 5vw;
  margin: 0 auto;
}

.FooterTopRight {
  display: flex;
  gap: 5rem;
}

.FooterTop {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap; /* allow wrapping for smaller screens */
}

.Logo {
  display: flex;
  justify-content: center;
  width: 200px;
  /* height: 100%; */
}

.Logo img {
  height: 100%;
  width: 100%;
}

.Officehead,
.LinkHead {
  font-size: 16px;
  font-weight: bold;
}

.OfficeAddress,
.LinksList {
  margin-top: 2vh;
  color: rgba(255, 255, 255, 0.5);
}

.SocialLinks {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.OfficeAddress {
  max-width: 400px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.OfficeAddress span {
  word-break: break-word;
}

.Officemail,
.OfficePhone {
  margin-top: 2vh;
  color: rgba(255, 255, 255, 0.5);
}

.LinksList ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2vh;
  padding: 0;
  margin: 0;
}

.hrWrapper {
  width: 100%;
  margin: 4vh 0;
}

.hr {
  border-color: rgba(255, 255, 255, 0.2);
}

.insta,
.fb,
.youtube,
.twitter {
  display: flex;
  align-items: center;
  gap: 1vh;
}

.aLink {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

/* 🔹 Responsive Design */
@media (max-width: 1024px) {
  .FooterTop {
    /* justify-content: flex-start; */
    gap: 3rem;
  }

  .FooterTopRight {
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .FooterTop {
    flex-direction: column; /* stack vertically */
    align-items: flex-start;
    gap: 3rem;
  }

  .FooterTopLeft {
    width: 100%;
    justify-items: center;
    align-content: center;
  }

  .Logo {
    justify-content: center;
  }

  .OfficeAddress {
    max-width: 350px;
  }
}

@media screen and (max-width: 767px) {
  .OfficeAddress {
    max-width: 200px;
  }
}

@media (max-width: 480px) {
  .FooterWrapper {
    padding: 6vh 4vw;
  }

  .Officehead,
  .LinkHead {
    font-size: 14px;
  }

  .OfficeAddress,
  .Officemail,
  .OfficePhone,
  .LinksList {
    font-size: 14px;
  }

  .insta,
  .fb,
  .youtube,
  .twitter {
    font-size: 14px;
    gap: 0.8vh;
  }

  .svg {
    width: 20px;
    height: 20px;
  }

  .FooterBottom {
    text-align: center;
    margin-top: 2rem;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
  }
}
